
@import "compass"
.lin
  float: right
  position: absolute
  bottom: rem-calc(40)
  right: rem-calc(40)
  width: 11rem
  color: #fff


  a 
    padding-left: 5%
    color: #fff


.bg
  //background-image: url('../12.png')
  background-color: #d6af82 
  height: rem-calc(162)
  background-size: cover
  background-position: center 
  position-top: rem-calc(200)

  img
  
    padding-left: 3%
    padding-top: 2%
   

  h2
    font-size: rem-calc(20)
    color: #fff
    padding-left: rem-calc(140)
    position: relative
    bottom: rem-calc(30)

.bl
  background: #d6af82 
  height: rem-calc(300)
  margin-left: rem-calc(20)
  margin-bottom: rem-calc(20)
  padding:
    top: rem-calc(10)
  margin:
    top: rem-calc(20)


/***MAIN***/


.head_top
  background-color: #fff
  .logo
    padding-left: 3%
    padding-bottom: 0
    width: rem-calc(150)
    height: rem-calc(50)

.head_btm
  .pc_bg 
    
    height: rem-calc(200)
    background-size: cover
    background-position: center bottom

.pc
  
  margin:
    top: rem-calc(-435)
    left: rem-calc(700)
  img
    width: rem-calc(360)
    height: rem-calc(280)

.pc2
  position: absolute
  right: rem-calc(600)
  
  margin:
    top: rem-calc(-240)
  
  img
    width: rem-calc(560)
    height: rem-calc(150)

.padding-right-10
  padding-right: rem-calc(10)

.p
  padding: rem-calc(10) rem-calc(10) 0
  p
    text-align: center
    font-size: rem-calc(14)
    color: #fff

.button
  +border-radius(5px)
  background-color: #d6af82 


.pole
  margin-top: rem-calc(150)
  text-align: center

.link
  position: absolute
  left: rem-calc(280)
  margin-top: rem-calc(40)
  width: rem-calc(380)

  a
    padding-left: 2%
    color: #444
    font-size: rem-calc(14)



.bg_ft
  height: rem-calc(100)
  background-color: #e3e3e3

.zag
  font-size: rem-calc(20)
  margin:
    top: rem-calc(-80)
    left: rem-calc(580)


.blg
  width: rem-calc(150)
  height: rem-calc(150)
  background-color: #bf8f52
  border-radius: 50%
  +inline-block(top)

  > div
    background:
      size: cover
      position: center center
      repeat: no-repeat
    height: rem-calc(150)



.ico_1
  background-image: url('../1.png')


.ico_2
  background-image: url('../2.png')

 
.ico_3
  background-image: url('../3.png')

.ico_4
  background-image: url('../4.png')

.container
  margin-top: rem-calc(-50)


.b_t
  margin-top: 5%
