.lin
  float: right
  position: absolute
  bottom: rem-calc(40)
  right: rem-calc(40)
  width: 11rem

  a 
    padding-left: 5%
    color: #fff
    font-family: Serifiqo4FFreeCapitals


.bg
  background-color: #d6af82



  img
  
    padding-left: 3%
   

  h2
    font-size: rem-calc(20)
    font-family: Serifiqo4FFreeCapitals
    color: #fff
    padding-left: rem-calc(140)
    position: relative
    bottom: rem-calc(30)


.bl
  background: #d6af82
  height: rem-calc(300)
  margin-left: rem-calc(20)
  margin-bottom: rem-calc(20)
  margin-top: rem-calc(20)
  padding-top: rem-calc(10)


.padding-right-10
  padding-right: rem-calc(10)

.p
  padding: rem-calc(10) rem-calc(10) 0
  p
    text-align: center
    font-size: rem-calc(14)
    color: #fff


    



