/* line 3, ../scss/style.sass */
.lin {
  float: right;
  position: absolute;
  bottom: rem-calc(40);
  right: rem-calc(40);
  width: 11rem;
}
/* line 10, ../scss/style.sass */
.lin a {
  padding-left: 5%;
}

/* line 14, ../scss/style.sass */
.bg {
  background-color: #d0904d;
}
/* line 19, ../scss/style.sass */
.bg img {
  padding-left: 3%;
}
/* line 24, ../scss/style.sass */
.bg h2 {
  font-size: rem-calc(20);
  color: white;
  padding-left: rem-calc(140);
  position: relative;
  bottom: rem-calc(30);
}

/* line 31, ../scss/style.sass */
.bl {
  background: #cccccc;
  height: rem-calc(300);
  margin-left: rem-calc(20);
  margin-bottom: rem-calc(20);
}

/**MAIN** */
/* line 40, ../scss/style.sass */
.head_top {
  background-color: #deb183;
}
/* line 43, ../scss/style.sass */
.head_top .logo {
  padding-left: 3%;
  padding-bottom: 0;
  width: rem-calc(150);
  height: rem-calc(50);
}

/* line 50, ../scss/style.sass */
.head_btm .pc_bg {
  background-image: url("../circ.png");
  height: rem-calc(220);
  background-size: cover;
  background-position: center bottom;
}

/* line 56, ../scss/style.sass */
.pc {
  margin-top: rem-calc(-210);
}
/* line 60, ../scss/style.sass */
.pc img {
  width: rem-calc(650);
  height: rem-calc(210);
}

/* line 64, ../scss/style.sass */
.padding-right-10 {
  padding-right: rem-calc(10);
}

/* line 67, ../scss/style.sass */
.p {
  padding: rem-calc(10) rem-calc(10) 0;
}
/* line 69, ../scss/style.sass */
.p p {
  text-align: center;
  font-size: rem-calc(14);
  color: white;
}

/* line 74, ../scss/style.sass */
.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #d6af82;
}

/* line 78, ../scss/style.sass */
.zag {
  font-size: rem-calc(20);
  margin-top: rem-calc(35);
}
